header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0)), url(../assets/img/secao08-background-capa.jpg);
    padding: 10px 13px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 95.5%, 0 100%);
}

header > #area_navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
}
header > #area_navegation > .logo {
    background-image: url(../assets/img/pizeria_logo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
}

header > nav {
    margin-top: 20px;
}

header > .area_text {
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .area_text > #text-wellcome {
    color: white;
    text-transform: uppercase;
}