#main-content {
    height: 500px;
    padding-top: 95px;
}

#main-content > #promotion-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    text-align: center;
}

#main-content > #promotion-section > #background-left ,#background-right {
    display: none;
    width: 15%;
    margin-top: -70px;
}

#main-content > #promotion-section > .area_info_promotion {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-content > #promotion-section > .area_info_promotion  > h3 {
    color: rgb(255, 65, 65);
    font-family: rubik glitch, Arial, Helvetica, sans-serif;
    letter-spacing: 4.5px;
    font-size: 40.7px;
    margin-bottom: 230px;
    padding-bottom: 15px;
    transition: ease 0.3s;
    border-bottom: 4px solid rgb(255, 217, 0);
    border-radius: 17px;
}

#main-content > #promotion-section > .area_info_promotion  > h3:hover {
    border-bottom: 4px solid orange;
    background-color: rgba(203, 191, 241, 0.255);
}


#main-content > #promotion-section > .area_info_promotion  > .all-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 145px;
}

#main-content > #promotion-section > .area_info_promotion > .all-cards > .cards-days {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 16.5px;
    height: 280px;
    width: 280px;
    border-radius: 10px;
    padding: 10px;
}

#main-content > #promotion-section > .area_info_promotion  > .all-cards > .cards-days > p {
    margin-top: 15px;
    font-size: 1.15em;
    text-align: justify;
}

#main-content > #promotion-section > .area_info_promotion > .all-cards >  .cards-days > .name-days {
    color: orange;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
    text-align: center;
    font-size: 28px;
    border-radius: 7px;
    padding-bottom: 7px;
    border-bottom: 4px solid transparent;
    transition: 0.2s;
}


#main-content > #promotion-section > .area_info_promotion > .all-cards >  .cards-days > .name-days:hover{
    border-bottom: 4px solid orange;

 }





@media screen and (min-width:768px) {
    #main-content > #promotion-section > .area_info_promotion   {
        flex-flow: row wrap;
    }

    #main-content > #promotion-section > #background-right {
        display: block;
    }

    #main-content > #promotion-section > #background-left {
        display: block;
        
    }   
}



