
#main-content > #promotion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#main-content > #promotion-section > #background-left ,#background-right {
    display: none;
}

#main-content > #promotion-section > .area_info_promotion {
    width: 65%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

#main-content > #promotion-section > .area_info_promotion  > h3 {
    margin-top: 65px;
    color: rgb(48, 41, 41);
    text-shadow: 2.6px 2.6px 1px rgba(65, 76, 122, 0.819);
    font-family: rubik glitch, Arial, Helvetica, sans-serif;
    letter-spacing: 4.5px;
    font-size: 40.7px;
    margin-bottom: 230px;
    padding-bottom: 15px;
    transition: ease 0.3s;
    border-bottom: 4px solid rgb(212, 90, 38);
    border-radius: 7px;
}

#main-content > #promotion-section > .area_info_promotion  > h3:hover {
    border-bottom: 4px solid orange;
    background-color: rgba(203, 191, 241, 0.255);
}

#main-content > #promotion-section  > .area_info_promotion > #promotional-paragraph {
    font-size: 1.35em;
    margin-top: -50px;
    margin-bottom: 160px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    padding-bottom: 12px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 255, 0.53);
}

#main-content > #promotion-section > .area_info_promotion  > .all-cards {
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 130px;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

#main-content > #promotion-section > .area_info_promotion > .all-cards > .cards-days {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 7px;  
    width: 395px;
    border-radius: 10px;
}




#main-content > #promotion-section > .area_info_promotion > .all-cards >  .cards-days > .name-days {
    color: rgb(253, 126, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
    text-align: center;
    font-size: 30.5px;
    border-radius: 4.65px;
    padding-bottom: 7px;
    border-bottom: 4px solid rgb(96, 96, 251);
    transition: 0.2s;
}



#main-content > #promotion-section > .area_info_promotion > .all-cards >  .cards-days > .name-days:hover{
    border-bottom: 4px solid orange;
}



#main-content > #promotion-section > .area_info_promotion  > .all-cards > .cards-days > p {
    margin-top: 35px;
    font-size: 1.13em;
    text-align: justify;
}







@media screen and (min-width:768px) {
    

    #main-content > #promotion-section  > .area_info_promotion > #promotional-paragraph {
        width: 420px;
        font-size: 1.4em;
        text-align: justify;
    }

    #main-content > #promotion-section > .area_info_promotion > .all-cards  {
        display: flex;
        
        
        justify-content: center;
       
    }


    #main-content > #promotion-section > #background-left, #background-right {
        display: block;
        width: 15%;
        margin-top: -30px;
    }   

    

    #main-content > #promotion-section > #background-left > .tomate-folhas {
       background-image: url(../assets/img/secao13-detalhe-tomate.jpg);
       background-size: contain;
       background-repeat: no-repeat;
       width: 190px;
       height: 190px;
       position: absolute;
       top: 40px;
       left: 26px;
    }

    #main-content > #promotion-section > #background-left > .queijo {
       background-image: url(../assets/img/secao09-queijo.jpg);
       background-size: contain;
       background-repeat: no-repeat;
       width: 140px;
       height: 140px;
       position: absolute;
       left: 50px;
       top: 340px;   
    }

   #main-content > #promotion-section > #background-left > .folhabottom {
       background-image: url(../assets/img/secao09-folha3.png);
       background-size: contain;
       background-repeat: no-repeat;
       width: 140px;
       height: 140px;
       position: absolute;
       left: 100px;
       top: 700px;              
   }

    #main-content > #promotion-section > #background-right > .azeite {
      background-image: url(../assets/img/secao13-azeite.jpg);
       background-size: contain;
       background-repeat: no-repeat;
       width: 140px;
       height: 140px;
       position: absolute;
       right: 65px;
       top: 50px;
    }



     #main-content > #promotion-section > #background-right > .camarao {
      background-image: url(../assets/img/secao09-camarao.jpg);
       background-size: contain;
       background-repeat: no-repeat;
       width: 140px;
       height: 140px;
       position: absolute;
       top: 790px;
       right:135px;
    }
    
    
    #main-content > #promotion-section > .area_info_promotion > .all-cards {
        justify-content: space-between;
        margin-top: 70px;
        align-items: center;
    }
}



